@using System.Net.Http;
@using BLL.DTO;
@using BLL.Interfaces.IEFServices;
@using System.Text.Json;
@using System.Net.Http.Formatting;
@using Newtonsoft.Json;
@using BLL.Validators;
@using FluentValidation.Results;
@using Microsoft.AspNetCore.Components;
@page "/api/Game"
@page "/api/Game/{id}"
@inject IEFGameService gameService;
<h3>Список Игр</h3>

<hr />

@if (gameList.Any())
{
    <table align="center">
        <tr> <th>Id</th> <th>Назва</th> <th>Ціна</th> <th>Id Жанру</th><th>Id Розробника</th></tr>



        @foreach (var game in gameList)
        {

            /*<p><strong>ID</strong> @detail.Id</p>
            <p><strong>Group Of Detail Id</strong> @detail.GroupOfDetailId</p>
            <p><strong>Name Of Detail</strong> @detail.NameOfDetail</p>
            <p><strong>Data Of Detail</strong> @detail.DataOfDetail</p>
            <p><strong>Article Of Detail</strong> @detail.ArticleOfDetail</p>*/

            <tr><td>@game.Id</td><td>@game.Name</td><td>@game.Cost</td><td>@game.Id_Genre</td><td>@game.Id_Dev</td><td> <button> <a class="btn btn-danger btn-sm" @onclick="@(() => DeleteGame(game.Id))">Delete</a> </button> </td></tr>

            // <button> <a class="btn btn-danger btn-sm" @onclick="@(() => DeleteDetail(detail.Id))">del</a> </button>




        }
    </table>

    <br />

else
{
    <p>No contact founds</p>}
}

<div class="modal-body">
    <EditForm Model="@gameDTO" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <form>

            <label>Id Гри: </label>
            <InputNumber class="form-control" @bind-Value="@gameDTO.Id" /> <br><br>

            <label>Навзва Гри: </label>
            <InputText class="form-control" @bind-Value="@gameDTO.Name" /> <br><br>

            <label>Ціна гри: </label>
            <InputText class="form-control" @bind-Value="@Convert.ToString(gameDTO.Cost)" /> <br><br>

            <label>Id Жанру: </label>
            <InputDate class="form-control" @bind-Value="@gameDTO.Id_Genre" /><br>

            <label>Id Розробника: </label>
            <InputDate class="form-control" @bind-Value="@gameDTO.Id_Dev" /><br>

        </form>


        <button type="submit" class="btn btn-primary" onClick="window.location.href=window.location.href">Submit</button>

    </EditForm>
</div>

@code {
    @functions{
        private List<DAL.Entities.Game> gameList = new List<DAL.Entities.Game>();

        protected override async Task OnInitializedAsync() => await GetGames();

        HttpClient httpClient = new HttpClient();

        private async Task GetGames() => gameList = await httpClient.GetJsonAsync<List<DAL.Entities.Game>>("https://localhost:5001/api/Game");

        private async void DeleteGame(int Id)
        {
            string baseUrl = "https://localhost:5001";
            string endpoint = $"{baseUrl}/api/Game/{Id}";

            await httpClient.DeleteAsync(endpoint);
        }

        GameDTO gameDTO { get; set; } = new GameDTO();

        private async void HandleValidSubmit()
        {
            try { await gameService.AddGame(gameDTO); }
            catch { }
        }
    }
}
